.header {

    padding: 20px 0;
    background: url("/src/assets/header-back.jpg");
    background-size: cover;
    border-bottom: 1px #AAA solid;

}

.avatar {

    padding: 20px;

    width: 200px !important;
    box-shadow: 0 0 20px #EEE;

    margin-left: 100px;

    background: #FFF;
    border-radius: 10px;

    text-align: center;

}

.avatarImage {

    background: #EEE;
    min-width: 160px;
    min-height: 160px;
    max-width: 160px;
    max-height: 160px;
    margin: 0;

}

.avatarName {

    margin-top: 20px;
    width: 100%;
    text-overflow: ellipsis;
    font-weight: bold;
    border: none;
    background: none;
    text-align: center;

}

.avatarName:focus {
    border: none;
    outline: none;
    border-bottom: 1px #000 dashed;
}

.tabbedWindow {

    margin: auto;

}