.container {

    border-color: #EEE;
    border-style: solid;
    border-width: 1px 0 1px 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 20px;

}

.gallery {
    display: inline-flex;
}

.photo {
    display: inline;
    max-height: 160px;
    border-radius: 10px;
    cursor: pointer;

    overflow: hidden;
    outline: none;
    box-shadow: none;
    margin: 0 5px;

}

.addPhoto {

    width: 160px;
    height: 160px;
    cursor: pointer;

    background: #DDD url("/src/assets/plus.svg") no-repeat center;
    background-size: 40%;
    opacity: 0.4;

}

.addPhoto:hover {
    opacity: 0.6;
}