.container {
    width: 100%;
    height: 100%;

    padding: 20px;
    cursor: text;
}

.container * {
    font-family: "Courier New", sans-serif;
}

.line {
    margin: 0;
}

.output {

}

.input {
    color: #38a800;
}

.error {
    color: #a90000;
}

.inputLine {
    padding: 0!important;
    margin: 0!important;
    outline: none !important;
    background: none !important;
    border: none !important;
    color: #38a800;
}