.form {
}

.input {
    border-radius: 10px;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 5px 10px;
    margin: 5px 0;
    outline: none;
}

.input:focus {
    box-shadow: 0 0 20px #EEE;
}

.button {
    background: none;
    color: var(--button-color);

    border: 1px var(--button-color) solid;
    border-radius: 10px;

    cursor: pointer;
    padding: 10px;

    transition: ease 300ms;

    --button-color: #CA0E0E;
    --active-button-color: #a40707;
}

.button:active {
    transform: scale(0.95);
}

.primary {
    background: var(--button-color);
    border: none;
    color: #EEE;
}

.button:hover {
    background: var(--active-button-color);
    color: #EEE;
}


.comboBox {

    color: #757575;
    user-select: none;
    cursor: pointer;

}

.comboMenu {

    display: none;
    position: absolute;

}

.comboMenu span {

    display: block;
    background: #FFF;
    width: 100%;

}

.comboMenu span:hover {

    background: #CCC;

}

.comboMenuOpened {

    display: block;

}