.form {
    display: inline-block;

    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    box-shadow: 0 0 10px #CCC;
}

.input {
    border-radius: 10px;
    border: 1px solid #CCC;
    padding: 0 10px;
    margin: 5px 0;
}

.button {
    background: #FFF;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    border-color: var(--main-gradient);
    background: var(--main-gradient);
}